body{
    background-image: url(img/6919606.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    
}
h1{
text-align: center;
   justify-content: center;
    margin-left: 5%;
}
h2{
    margin-top: 32%;
    margin-left: 43%;
}
p{
    margin-top: 48%;
    margin-left: 35%;
}
h3{
    margin-top: 2%;
    margin-left: 18% '\9829';
}
 